/* 헤더 */
#header {margin:0 0 0px;}
#header .header_inner {width:100%;height:140px; text-align:center; line-height:140px; position:absolute; z-index:2; }
#header .header_inner a { font-size:16px; color:#fff; }

#header .header_inner_1 {width:100%;height:81px; text-align:center; line-height:81px; }
#header .header_inner_1 a { font-size:16px; color:#fff; }

#header .utilmenu           { font-size:12px; color:#111111; letter-spacing:0px; } 
#header .utilmenu a         { font-size:12px; color:#999999; }
#header .utilmenu a:hover   { font-size:12px; color:#111111; }
#header .utilmenu span      { font-size:12px; color:#999999; padding:0px 5px; } 

#header .headmenu           { font-size:16px; color:#333333; letter-spacing:0px; text-align:center; } 
#header .headmenu a         { font-size:16px; color:#333333; }
#header .headmenu a:hover   { font-size:16px; color:#ff0000; }
#header .headmenu span      { font-size:12px; color:#999999; padding:0px 10px; } 
.main_menu{ margin:0 100px; border-bottom:1px solid #fff; }
.main_menu_sub{ border-bottom:1px solid #e5e5e5; height:80px; line-height:80px; }
.right_menu{ position:fixed; width:350px; height:100%; background:rgba(0,0,0,0.8); top:0; right:-500px; line-height:3; z-index:111111; }
.right_menu li{ padding-left:40px; font-size:15px; color:#fff; font-weight:200; }
.right_menu li a{ color:#fff; }
.right_close{ text-align:right; padding-right:10px; height:100px; }
.ci{ width:135px; height:32px; background:url("../img/ci.png"); position:absolute; top:56px; left:100px; }
.ci_sub{ width:135px; height:32px; background:url("../img/ci_sub.png"); position:absolute; top:24px; left:100px; }
.main_m_icon{ width:20px; height:16px; background:url("../img/main_menu_btn.png"); position:absolute; top:64px; right:100px; cursor:pointer; }
.main_m_sub_icon{ width:20px; height:16px; background:url("../img/main_menu_sub_btn.png"); position:absolute; top:33px; right:100px; cursor:pointer; }

.left_menu {
    position: fixed;
    left: 30px;
    top: 50%;
	margin-top:-123px;
    width:5px;
	line-height:72px;
	z-index:11111111111111;
	background:url("./img/dotted.png");
	background-repeat:no-repeat;
	background-position-x: 4px;
	background-position-y: 53px;
}
.left_menu a{ width:8px; height:8px; border-radius:50%; background:#818181; display:inline-block; }
.a_on {
    width:20px !important;
	height:20px !important;
    background:url("./img/slide_on.png") !important;
	background-repeat:no-repeat !important;
	margin-left:-5px;
	padding-left:5px;
	color:#c9c9c9;
}
.left_menu_text{
	position: fixed;
    left: 30px;
    top: 50%;
	margin-top:-127px;
    width:1px;
	line-height:72px;
	z-index:11111111111111;
	width:60px;
}
.left_menu_text a{ background:none !important; }
.right_close img{ margin-top:64px; margin-right:90px; cursor:pointer; }

/* 풋터 */
#footer .tailmenu           { font-size:12px; color:#999999; letter-spacing:0px; line-height:150%; } 
#footer .tailmenu a         { font-size:12px; color:#999999; }
#footer .tailmenu a:hover   { font-size:12px; color:#111111; }
#footer .tailmenu span      { font-size: 8px; color:#dddddd; padding:0px 10px; } 

/* 서브페이지 레이아웃 */ 
#subvisual {height:200px;background:#f9f9f9; position:relative;}
#subvisual .subvisual_inner {width:1000px; margin:0 auto;text-align:center; color:#fff; font-size:40px; line-height:120%; padding-top:40px;}
.subvisual_inner span {font-size:12px; line-height:120%;}
.sub_tab {width:100%; height:60px; background:rgba(139,46,138, 0.9); text-align:center;}
.sub_tab a {display:inline-block; line-height:60px; color:#fff; font-size:16px; padding:0 25px;}
.tab_on {background:#fff; color:#222 !important;}

#container { }
#container .container_inner {width:1000px;margin:0 auto;padding:50px 0px}

#container .sub_title {margin-top:-5px; text-align:left;}
#container .sub_title p.subject {color:#111;font-size:32px;margin-bottom:10px;text-align:left; font-weight:bold;}
#container .sub_title p.content {color:#aaa;font-size:14px;margin-bottom:40px;text-align:left; }

#container .sub_content { }

#container .sub_content_etc { }
#container .sub_content_etc p.subject {color:#111;font-size:18px;margin-bottom:10px;font-weight:bold;}
#container .sub_content_etc p.content {color:#999;font-size:14px;margin-bottom:40px;line-height:150%;}

#container .sub_content .sub_tabmenu { }

/* 메인페이지 레이아웃 */ 
